@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Serif:ital@0;1&family=League+Gothic&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nixie+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

.font-times {
  font-family: "Times New Roman", Times, serif;
}
* {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

/* in your global CSS or tailwind.css */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

/* ===== Scrollbar Theme ===== */
.scrollbar-red {
  scrollbar-width: thin;
  scrollbar-color: #b30f1c #f8f8f8; /* For Firefox */
}

/* For Chrome, Edge, Safari */
.scrollbar-red::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
  width: 8px; /* vertical scrollbar width */
}

.scrollbar-red::-webkit-scrollbar-track {
  background: #f8f8f8; /* track background */
  border-radius: 10px;
}

.scrollbar-red::-webkit-scrollbar-thumb {
  background-color: #b30f1c;
  border-radius: 10px;
  border: 2px solid #f8f8f8; /* gives a gap around the thumb */
}

.scrollbar-red::-webkit-scrollbar-thumb:hover {
  background-color: #9a0d18; /* slightly darker on hover */
}
